# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.pyd
*.pkl
*.h5

# Jupyter Notebook checkpoints
*.ipynb_checkpoints/

# Python virtual environments
env/
venv/
.tfenv/
.venv/
.Python

# macOS system files
.DS_Store

# Logs and temp
*.log
*.tmp

# IDEs
.vscode/
.idea/

# OS junk
Thumbs.db

# Java build
target/
*.class
*.jar
*.war

# Maven
.mvn/
.settings/
dependency-reduced-pom.xml

# Docker
**/Dockerfile
**/docker-compose.yml
*.env

# VS Code Workspace
*.code-workspace
